.App {
  @include flexCenter(column);
  margin: 0;
  height: 100vh;
  color: white;

  // Default to black if gradient doesnt load
  background-color: black;

  // Nice conic gradient background on the left
  background-image: conic-gradient(
    from 180deg at left,
    $backGradientFrom,
    $backGradientTo
  );
  background: -moz-conic-gradient(
    from 180deg at left,
    $backGradientFrom,
    $backGradientTo
  );
  background: -webkit-conic-gradient(
    from 180deg at left,
    $backGradientFrom,
    $backGradientTo
  );

  h1 {
    padding: 20px;
    margin: 0;
    font-size: 14vw;

    // Fallback to black
    color: black;

    .gradient-text {
      // Fallback color if gradient doesnt load
      background-color: black;
      // Gradient to overlay on text span
      background-image: linear-gradient(140deg, $backColor1, $backColor2);

      // Tricks to clip the overlay onto the text
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  h2 {
    width: 60vw;
    color: black;
    text-align: center;
  }

  p {
    width: 60vw;
    color: black;

    text-align: center;
  }
}
