// Back gradient 1
$darkestGrey: #707070;
$almostBlack: #2e3340;

// Back gradient 2
$blueWhite: #bfc7c9;
$blueGrey: #7e898c;

// Text gradient 1
$backColor1: #667eea;
$backColor2: #774aa3;

// Text gradient 2
$backColor3: #8af7fe;
$backColor4: #66a8ff;
