.viz-container {
  @include flexCenter(column);
  color: white;
  width: 100vw;

  h2 {
    margin: 0;
  }

  .stat-item {
    @include flexCenter(column);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.08);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .flex-row {
    @include flexCenter(row);
    flex-wrap: wrap;
    width: 100vw;
  }

  // Temporary (uncomment for debugging)
  canvas {
    // border: 1px dotted red;
  }

  .chart-container {
    position: relative;
    margin: auto;
    height: 30vh;
    width: 40vw;

    @media only screen and (max-width: 700px) {
      height: 60vh;
      width: 80vw;
    }

    @media only screen and (max-height: 600px) {
      height: 90vh;
      width: 80vw;
    }
  }

  .bigger {
    height: 600px;
  }
}
